@import './styles/reset.scss';

body {
  background: url("../assets/blueStripe.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
#gameScreen {
  background-color: white;
  border: 5px solid rgba(165, 0, 0, 0.857);
  margin: auto;
  // width: 1000px;
  // height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}