@import './styles/reset.scss';

#gameScreen {
  border: 5px solid rgba(186, 18, 18, 0.857);
  margin: auto;
  // width: 1000px;
  // height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}